.h1-tag{
    font-size: 80px;
    font-style:oblique;
    font-family: monospace;
}
.fspan{
    color: rgb(240, 158, 6);
}
#web{
    font-size: 30px;
    font-weight: 800;
    font-family: monospace;
}
#first-p{
    font-size: 18px;
    font-family: monospace;
    text-align: justify;
}
.hyperlink{
    text-decoration: none;
    font-size: 23px;
    font-family: monospace;
    background-color: orangered ;
    color: white;
    padding: 10px 40px;
    border-radius: 20px;
    background-image: linear-gradient(orange, red);
}
.width{
    width: 85%;
    padding-left: 5%;
}
.section1{
    display: flex;
    background-color: rgb(255, 231, 199);
    margin-bottom: 150px;
}
.width img{
    width: 90%;
}
.div2{
    padding-top: 28px;
}
.secction2{
    margin-top: 250px;
    margin-top: 0px;
}
.padd{
    padding-top: 90px;
}
.more{
    color: blue;
}
.section3{
    background-color: rgb(255, 231, 199);
    padding-top: 100px;
}
.div4{
    display: flex;
}
.second-h1{
    font-style:oblique;
    font-family: monospace;
    font-size: 60px;
    padding-left: 5%;
}
.h2{
   font-size: 30px;
   font-family: monospace;
   color: blue;
}
.para{
    font-size: 18px;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}

.line{
    padding-left: 30px;
    padding-bottom: 30px;
    width: 40%;
    box-shadow: 10px 5px 50px 5px grey;
    margin-bottom: 90px;
    margin-left: 5%;
    margin-right: 5%;
}
body{
    margin: 0px;
    background-color: rgb(255, 231, 199);
}
#border-slice{
    border-radius: 5px;
    border-left: 10px solid;
    border-image: linear-gradient(orange, red);
    border-image-slice: 1;
    background-image: linear-gradient(white, rgb(229, 236, 180));
}
#border-slice2{
    border-radius: 5px;
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    background-image: linear-gradient(white, rgb(229, 236, 180));
}

